@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
}

.calculator{
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  margin: 0.5rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  text-align: end;
  border-radius: 0.5rem;
  border-width: 0.1rem;
  border-color: #222222;
  background-color: inherit;
}

select {
  background-color: inherit;
  margin: 0.5rem;
  padding: 0.2rem ;
  border-radius: 0.5rem;

}

button {
  margin: 0.5rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 0.2rem;
  border-width: 0.1rem;
  border-color: #222222;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}